# <font color='darkorange'>  Lab | SQL Queries 9 </font>
- Create a Python connection with SQL database and retrieve the results of the last two queries (also mentioned below) as dataframes:

- Te dejo aqui el link de mi repositorio para la parte de SQL
https://github.com/Monikbit/Lab-SQL-DataAnalysis/blob/main/Laboratorio6.sql

In [131]:
from sqlalchemy import create_engine 
import pandas as pd
import numpy as np
import getpass
import pymysql

In [132]:
password=getpass.getpass()

- Establecemos conexion con mysql

In [133]:
connection_string='mysql+pymysql://root:'+password+'@127.0.0.1/sakila'
engine=create_engine(connection_string)

- Check the number of rentals for each customer for May

In [134]:
query="SELECT c.customer_id,  c.first_name as nombre, c.last_name as apellido,  COUNT(r.rental_may_id) as num_rentas \
FROM customer as c \
INNER JOIN rental_may as r ON c.customer_id = r.customer_id \
GROUP BY c.customer_id \
ORDER BY num_rentas DESC" 
data1=pd.read_sql_query(query,engine)
data1.head()

   customer_id     nombre apellido  num_rentas
0          197        SUE   PETERS           8
1          506     LESLIE   SEWARD           7
2          109       EDNA     WEST           7
3          269  CASSANDRA  WALTERS           6
4          239     MINNIE   ROMERO           6

- Check the number of rentals for each customer for June

In [135]:
query="SELECT c.customer_id,  c.first_name as nombre, c.last_name as apellido,  COUNT(r.rental_june_id) as num_rentas \
FROM customer as c \
INNER JOIN rental_june as r ON c.customer_id = r.customer_id \
GROUP BY c.customer_id \
ORDER BY num_rentas DESC"  
data2=pd.read_sql_query(query,engine)
data2.head()

   customer_id  nombre  apellido  num_rentas
0           31  BRENDA    WRIGHT          11
1          454    ALEX   GRESHAM          10
2          329   FRANK  WAGGONER           9
3          295   DAISY     BATES           9
4          561     IAN     STILL           9

- Write a function that checks if customer borrowed more or less films in the month of June as compared to May.

In [136]:
data3=data1.merge(data2, left_on='customer_id', right_on='customer_id') 
data3

,customer_id,nombre_x,apellido_x,num_rentas_x,nombre_y,apellido_y,num_rentas_y
0,197,SUE,PETERS,8,SUE,PETERS,8
1,506,LESLIE,SEWARD,7,LESLIE,SEWARD,5
2,109,EDNA,WEST,7,EDNA,WEST,5
3,269,CASSANDRA,WALTERS,6,CASSANDRA,WALTERS,3
4,239,MINNIE,ROMERO,6,MINNIE,ROMERO,5
...,...,...,...,...,...,...,...
507,234,CLAUDIA,FULLER,1,CLAUDIA,FULLER,8
508,431,JOEL,FRANCISCO,1,JOEL,FRANCISCO,7
509,351,JACK,FOUST,1,JACK,FOUST,3
510,10,DOROTHY,TAYLOR,1,DOROTHY,TAYLOR,5
511,136,ANITA,MORALES,1,ANITA,MORALES,1

In [137]:
type(data3)

pandas.core.frame.DataFrame

 # <font color='darkcyan'># Forma 1 </font>

In [161]:
data3=data1.merge(data2, left_on='customer_id', right_on='customer_id') 
# Para una sola consulta
if data3['num_rentas_x'].iloc[1]< data3['num_rentas_y'].iloc[1]:
            print(data3['nombre_x'][1], data3['apellido_x'][1],'rento menos peliculas en Junio que en Mayo')
else:
            print(data3['nombre_x'][1], data3['apellido_x'][1],'rento la misma cantidad de peliculas en Junio y en Mayo')

LESLIE SEWARD rento la misma cantidad de peliculas en Junio y en Mayo

In [162]:
def check_rents(x):
   
    for i in range(0,512):  
     if x['num_rentas_x'].iloc[i] < x['num_rentas_y'].iloc[i]:
        print(x['nombre_x'][i], x['apellido_x'][i],'rento menos peliculas en Junio que en Mayo')
     elif x['num_rentas_x'].iloc[i] > x['num_rentas_y'].iloc[i]:
        print(x['nombre_x'][i], x['apellido_x'][i],'rento mas peliculas en Mayo que en Junio')
     else:
        print(x['nombre_x'][i], x['apellido_x'][i],'rento la misma cantidad de peliculas en Junio y en Mayo')

In [167]:
check_rents(data3)

SUE PETERS rento la misma cantidad de peliculas en Junio y en Mayo
LESLIE SEWARD rento mas peliculas en Mayo que en Junio
EDNA WEST rento mas peliculas en Mayo que en Junio
CASSANDRA WALTERS rento mas peliculas en Mayo que en Junio
MINNIE ROMERO rento mas peliculas en Mayo que en Junio
RUTH MARTINEZ rento mas peliculas en Mayo que en Junio
BILLY POULIN rento menos peliculas en Junio que en Mayo
GERTRUDE CASTILLO rento mas peliculas en Mayo que en Junio
COURTNEY DAY rento mas peliculas en Mayo que en Junio
HEATHER MORRIS rento mas peliculas en Mayo que en Junio
NAOMI JENNINGS rento mas peliculas en Mayo que en Junio
VICKIE BREWER rento mas peliculas en Mayo que en Junio
ENRIQUE FORSYTHE rento mas peliculas en Mayo que en Junio
GERALDINE PERKINS rento mas peliculas en Mayo que en Junio
DELORES HANSEN rento mas peliculas en Mayo que en Junio
ISAAC OGLESBY rento mas peliculas en Mayo que en Junio
MARIE TURNER rento mas peliculas en Mayo que en Junio
MARIA MILLER rento la misma cantidad de peliculas en Junio y en Mayo
MABEL HOLLAND rento menos peliculas en Junio que en Mayo
DAVE GARDINER rento mas peliculas en Mayo que en Junio
JO FOWLER rento mas peliculas en Mayo que en Junio
CLARENCE GAMEZ rento la misma cantidad de peliculas en Junio y en Mayo
TIM CARY rento menos peliculas en Junio que en Mayo
MARIAN MENDOZA rento la misma cantidad de peliculas en Junio y en Mayo
FREDERICK ISBELL rento mas peliculas en Mayo que en Junio
BETTY WHITE rento mas peliculas en Mayo que en Junio
CLAYTON BARBEE rento mas peliculas en Mayo que en Junio
WESLEY BULL rento mas peliculas en Mayo que en Junio
JUNE CARROLL rento menos peliculas en Junio que en Mayo
CLAUDE HERZOG rento mas peliculas en Mayo que en Junio
KRISTIN JOHNSTON rento mas peliculas en Mayo que en Junio
PAUL TROUT rento mas peliculas en Mayo que en Junio
JANE BENNETT rento la misma cantidad de peliculas en Junio y en Mayo
ELSIE KELLEY rento mas peliculas en Mayo que en Junio
DIANE COLLINS rento mas peliculas en Mayo que en Junio
NELSON CHRISTENSON rento mas peliculas en Mayo que en Junio
DEANNA BYRD rento menos peliculas en Junio que en Mayo
FRED WHEAT rento mas peliculas en Mayo que en Junio
KAY CALDWELL rento mas peliculas en Mayo que en Junio
JAVIER ELROD rento mas peliculas en Mayo que en Junio
HARRY ARCE rento menos peliculas en Junio que en Mayo
BOBBIE CRAIG rento mas peliculas en Mayo que en Junio
BRYAN HARDISON rento mas peliculas en Mayo que en Junio
JOYCE EDWARDS rento menos peliculas en Junio que en Mayo
ERNEST STEPP rento menos peliculas en Junio que en Mayo
ALMA AUSTIN rento menos peliculas en Junio que en Mayo
ANGEL BARCLAY rento mas peliculas en Mayo que en Junio
GLORIA COOK rento la misma cantidad de peliculas en Junio y en Mayo
GREG ROBINS rento menos peliculas en Junio que en Mayo
RAMONA HALE rento mas peliculas en Mayo que en Junio
ALLEN BUTTERFIELD rento mas peliculas en Mayo que en Junio
LEON BOSTIC rento mas peliculas en Mayo que en Junio
MARK RINEHART rento mas peliculas en Mayo que en Junio
ROSEMARY SCHMIDT rento menos peliculas en Junio que en Mayo
BRETT CORNWELL rento mas peliculas en Mayo que en Junio
JESSE SCHILLING rento menos peliculas en Junio que en Mayo
AARON SELBY rento mas peliculas en Mayo que en Junio
EDUARDO HIATT rento menos peliculas en Junio que en Mayo
DORA MEDINA rento menos peliculas en Junio que en Mayo
DAWN SULLIVAN rento mas peliculas en Mayo que en Junio
SANDRA MARTIN rento la misma cantidad de peliculas en Junio y en Mayo
EMMA BOYD rento la misma cantidad de peliculas en Junio y en Mayo
JOSEPH JOY rento menos peliculas en Junio que en Mayo
JILL HAWKINS rento mas peliculas en Mayo que en Junio
DONALD MAHON rento mas peliculas en Mayo que en Junio
SHEILA WELLS rento mas peliculas en Mayo que en Junio
MANUEL MURRELL rento la misma cantidad de peliculas en Junio y en Mayo
ELLEN SIMPSON rento mas peliculas en Mayo que en Junio
DANNY ISOM rento mas peliculas en Mayo que en Junio
APRIL BURNS rento mas peliculas en Mayo que en Junio
THEODORE CULP rento menos peliculas en Junio que en Mayo
RONALD WEINER rento menos peliculas en Junio que en Mayo
STEVEN CURLEY rento menos peliculas en Junio que en Mayo
ROBERTA HARPER rento la misma cantidad de peliculas en Junio y en Mayo
BARRY LOVELACE rento menos peliculas en Junio que en Mayo
ROBERT BAUGHMAN rento la misma cantidad de peliculas en Junio y en Mayo
ROBERTO VU rento menos peliculas en Junio que en Mayo
TROY QUIGLEY rento mas peliculas en Mayo que en Junio
JENNY CASTRO rento menos peliculas en Junio que en Mayo
GENE SANBORN rento menos peliculas en Junio que en Mayo
CAROL GARCIA rento menos peliculas en Junio que en Mayo
TONI HOLT rento la misma cantidad de peliculas en Junio y en Mayo
MONICA HICKS rento mas peliculas en Mayo que en Junio
JENNIFER DAVIS rento menos peliculas en Junio que en Mayo
MATTHEW MAHAN rento la misma cantidad de peliculas en Junio y en Mayo
SHERRY MARSHALL rento la misma cantidad de peliculas en Junio y en Mayo
ANN EVANS rento mas peliculas en Mayo que en Junio
BEN EASTER rento menos peliculas en Junio que en Mayo
JIM REA rento menos peliculas en Junio que en Mayo
MARGIE WADE rento menos peliculas en Junio que en Mayo
GLENDA FRAZIER rento menos peliculas en Junio que en Mayo
REGINALD KINDER rento menos peliculas en Junio que en Mayo
PHYLLIS FOSTER rento mas peliculas en Mayo que en Junio
ALICE STEWART rento mas peliculas en Mayo que en Junio
ALEXANDER FENNELL rento menos peliculas en Junio que en Mayo
SARAH LEWIS rento menos peliculas en Junio que en Mayo
DAVID ROYAL rento menos peliculas en Junio que en Mayo
NATHANIEL ADAM rento mas peliculas en Mayo que en Junio
MARSHA DOUGLAS rento mas peliculas en Mayo que en Junio
JUSTIN NGO rento menos peliculas en Junio que en Mayo
JULIA FLORES rento menos peliculas en Junio que en Mayo
KEITH RICO rento menos peliculas en Junio que en Mayo
BOBBY BOUDREAU rento menos peliculas en Junio que en Mayo
JESSIE MILAM rento menos peliculas en Junio que en Mayo
FRANCES PARKER rento la misma cantidad de peliculas en Junio y en Mayo
ALLAN CORNISH rento la misma cantidad de peliculas en Junio y en Mayo
ARMANDO GRUBER rento menos peliculas en Junio que en Mayo
STELLA MORENO rento mas peliculas en Mayo que en Junio
RANDALL NEUMANN rento la misma cantidad de peliculas en Junio y en Mayo
VIVIAN RUIZ rento mas peliculas en Mayo que en Junio
TERESA ROGERS rento menos peliculas en Junio que en Mayo
KEVIN SCHULER rento mas peliculas en Mayo que en Junio
SHARON ROBINSON rento menos peliculas en Junio que en Mayo
GRACE ELLIS rento menos peliculas en Junio que en Mayo
BEATRICE ARNOLD rento mas peliculas en Mayo que en Junio
CHERYL MURPHY rento la misma cantidad de peliculas en Junio y en Mayo
LOUISE JENKINS rento menos peliculas en Junio que en Mayo
JEAN BELL rento la misma cantidad de peliculas en Junio y en Mayo
MARLENE WELCH rento la misma cantidad de peliculas en Junio y en Mayo
CRYSTAL FORD rento mas peliculas en Mayo que en Junio
JEFFERY PINSON rento menos peliculas en Junio que en Mayo
MAURICE CRAWLEY rento mas peliculas en Mayo que en Junio
MICHELLE CLARK rento menos peliculas en Junio que en Mayo
MARCIA DEAN rento menos peliculas en Junio que en Mayo
OSCAR AQUINO rento la misma cantidad de peliculas en Junio y en Mayo
WILLIAM SATTERFIELD rento menos peliculas en Junio que en Mayo
TRAVIS ESTEP rento mas peliculas en Mayo que en Junio
SALLY PIERCE rento la misma cantidad de peliculas en Junio y en Mayo
WILLIE MARKHAM rento menos peliculas en Junio que en Mayo
LAUREN HUDSON rento menos peliculas en Junio que en Mayo
DONNA THOMPSON rento la misma cantidad de peliculas en Junio y en Mayo
KURT EMMONS rento mas peliculas en Mayo que en Junio
VICKI FIELDS rento menos peliculas en Junio que en Mayo
MILDRED BAILEY rento mas peliculas en Mayo que en Junio
EDWIN BURK rento la misma cantidad de peliculas en Junio y en Mayo
GEORGIA JACOBS rento mas peliculas en Mayo que en Junio
TONYA CHAPMAN rento menos peliculas en Junio que en Mayo
JORGE OLIVARES rento menos peliculas en Junio que en Mayo
MARGARET MOORE rento mas peliculas en Mayo que en Junio
TOM MILNER rento menos peliculas en Junio que en Mayo
LAURA RODRIGUEZ rento mas peliculas en Mayo que en Junio
JERRY JORDON rento mas peliculas en Mayo que en Junio
SALVADOR TEEL rento mas peliculas en Mayo que en Junio
CATHERINE CAMPBELL rento menos peliculas en Junio que en Mayo
SARA PERRY rento menos peliculas en Junio que en Mayo
DANIELLE DANIELS rento mas peliculas en Mayo que en Junio
SONIA GREGORY rento la misma cantidad de peliculas en Junio y en Mayo
MAE FLETCHER rento menos peliculas en Junio que en Mayo
BERNICE WILLIS rento la misma cantidad de peliculas en Junio y en Mayo
JOHN FARNSWORTH rento mas peliculas en Mayo que en Junio
LEROY BUSTAMANTE rento menos peliculas en Junio que en Mayo
MICHELE GRANT rento la misma cantidad de peliculas en Junio y en Mayo
AMY LOPEZ rento menos peliculas en Junio que en Mayo
JUDITH COX rento mas peliculas en Mayo que en Junio
KARL SEAL rento menos peliculas en Junio que en Mayo
BECKY MILES rento menos peliculas en Junio que en Mayo
DANA HART rento mas peliculas en Mayo que en Junio
COREY HAUSER rento mas peliculas en Mayo que en Junio
JEREMY HURTADO rento menos peliculas en Junio que en Mayo
TRACY HERRMANN rento menos peliculas en Junio que en Mayo
DORIS REED rento menos peliculas en Junio que en Mayo
TERRY CARLSON rento menos peliculas en Junio que en Mayo
LENA JENSEN rento menos peliculas en Junio que en Mayo
ELIZABETH BROWN rento menos peliculas en Junio que en Mayo
THERESA WATSON rento mas peliculas en Mayo que en Junio
WALLACE SLONE rento menos peliculas en Junio que en Mayo
RACHEL BARNES rento mas peliculas en Mayo que en Junio
JOSE ANDREW rento menos peliculas en Junio que en Mayo
GLEN TALBERT rento menos peliculas en Junio que en Mayo
WENDY HARRISON rento la misma cantidad de peliculas en Junio y en Mayo
CHARLOTTE HUNTER rento menos peliculas en Junio que en Mayo
RAYMOND MCWHORTER rento menos peliculas en Junio que en Mayo
CRAIG MORRELL rento menos peliculas en Junio que en Mayo
RAUL FORTIER rento la misma cantidad de peliculas en Junio y en Mayo
JUAN FRALEY rento menos peliculas en Junio que en Mayo
PAMELA BAKER rento menos peliculas en Junio que en Mayo
CONSTANCE REID rento la misma cantidad de peliculas en Junio y en Mayo
RAY HOULE rento menos peliculas en Junio que en Mayo
JOY GEORGE rento menos peliculas en Junio que en Mayo
FREDDIE DUGGAN rento menos peliculas en Junio que en Mayo
MICHAEL SILVERMAN rento mas peliculas en Mayo que en Junio
MARVIN YEE rento la misma cantidad de peliculas en Junio y en Mayo
YVONNE WATKINS rento menos peliculas en Junio que en Mayo
HARVEY GUAJARDO rento menos peliculas en Junio que en Mayo
VIRGINIA GREEN rento menos peliculas en Junio que en Mayo
EDGAR RHOADS rento menos peliculas en Junio que en Mayo
CHESTER BENNER rento menos peliculas en Junio que en Mayo
MARTIN BALES rento menos peliculas en Junio que en Mayo
ARTHUR SIMPKINS rento menos peliculas en Junio que en Mayo
SYLVIA ORTIZ rento menos peliculas en Junio que en Mayo
BEVERLY BROOKS rento la misma cantidad de peliculas en Junio y en Mayo
MARY SMITH rento menos peliculas en Junio que en Mayo
JUANITA MASON rento menos peliculas en Junio que en Mayo
GEORGE LINTON rento la misma cantidad de peliculas en Junio y en Mayo
VINCENT RALSTON rento menos peliculas en Junio que en Mayo
NORA HERRERA rento menos peliculas en Junio que en Mayo
ERIC ROBERT rento menos peliculas en Junio que en Mayo
DEBORAH WALKER rento menos peliculas en Junio que en Mayo
HILDA HOPKINS rento la misma cantidad de peliculas en Junio y en Mayo
DOUGLAS GRAF rento menos peliculas en Junio que en Mayo
TRACY COLE rento menos peliculas en Junio que en Mayo
COLLEEN BURTON rento menos peliculas en Junio que en Mayo
JON WILES rento menos peliculas en Junio que en Mayo
JARED ELY rento menos peliculas en Junio que en Mayo
BRUCE SCHWARZ rento menos peliculas en Junio que en Mayo
LEONARD SCHOFIELD rento menos peliculas en Junio que en Mayo
PRISCILLA LOWE rento menos peliculas en Junio que en Mayo
CHRISTINE ROBERTS rento mas peliculas en Mayo que en Junio
NORMA GONZALES rento menos peliculas en Junio que en Mayo
ZACHARY HITE rento menos peliculas en Junio que en Mayo
TANYA GILBERT rento menos peliculas en Junio que en Mayo
KIRK STCLAIR rento la misma cantidad de peliculas en Junio y en Mayo
SHERRI RHODES rento menos peliculas en Junio que en Mayo
KATHRYN COLEMAN rento menos peliculas en Junio que en Mayo
EVELYN MORGAN rento menos peliculas en Junio que en Mayo
ROGER QUINTANILLA rento menos peliculas en Junio que en Mayo
WARREN SHERROD rento menos peliculas en Junio que en Mayo
HENRY BILLINGSLEY rento menos peliculas en Junio que en Mayo
RAFAEL ABNEY rento menos peliculas en Junio que en Mayo
RENEE LANE rento menos peliculas en Junio que en Mayo
RITA GRAHAM rento menos peliculas en Junio que en Mayo
MEGAN PALMER rento menos peliculas en Junio que en Mayo
JASON MORRISSEY rento menos peliculas en Junio que en Mayo
FLORENCE WOODS rento menos peliculas en Junio que en Mayo
TAMMY SANDERS rento menos peliculas en Junio que en Mayo
SERGIO STANFIELD rento menos peliculas en Junio que en Mayo
MAXINE SILVA rento menos peliculas en Junio que en Mayo
ANDRE RAPP rento menos peliculas en Junio que en Mayo
LEAH CURTIS rento menos peliculas en Junio que en Mayo
BOB PFEIFFER rento mas peliculas en Mayo que en Junio
KELLY KNOTT rento menos peliculas en Junio que en Mayo
KATHY JAMES rento menos peliculas en Junio que en Mayo
MARCUS HIDALGO rento menos peliculas en Junio que en Mayo
CARL ARTIS rento menos peliculas en Junio que en Mayo
CARLOS COUGHLIN rento menos peliculas en Junio que en Mayo
CHRIS BROTHERS rento mas peliculas en Mayo que en Junio
CHRISTOPHER GRECO rento menos peliculas en Junio que en Mayo
RICARDO MEADOR rento menos peliculas en Junio que en Mayo
LONNIE TIRADO rento la misma cantidad de peliculas en Junio y en Mayo
LESLIE GORDON rento menos peliculas en Junio que en Mayo
JOHNNIE CHISHOLM rento menos peliculas en Junio que en Mayo
JAMIE WAUGH rento mas peliculas en Mayo que en Junio
CASEY MENA rento menos peliculas en Junio que en Mayo
FERNANDO CHURCHILL rento menos peliculas en Junio que en Mayo
GLADYS HAMILTON rento menos peliculas en Junio que en Mayo
LANCE PEMBERTON rento menos peliculas en Junio que en Mayo
VERONICA STONE rento menos peliculas en Junio que en Mayo
JULIO NOLAND rento mas peliculas en Mayo que en Junio
MATHEW BOLIN rento menos peliculas en Junio que en Mayo
SHAWN HEATON rento menos peliculas en Junio que en Mayo
TINA SIMMONS rento menos peliculas en Junio que en Mayo
KATIE ELLIOTT rento menos peliculas en Junio que en Mayo
PAULINE HENRY rento menos peliculas en Junio que en Mayo
ROSE HOWARD rento la misma cantidad de peliculas en Junio y en Mayo
MIGUEL BETANCOURT rento menos peliculas en Junio que en Mayo
CHRISTIAN JUNG rento menos peliculas en Junio que en Mayo
JEROME KENYON rento la misma cantidad de peliculas en Junio y en Mayo
NELLIE GARRETT rento menos peliculas en Junio que en Mayo
TYLER WREN rento mas peliculas en Mayo que en Junio
CLARA SHAW rento menos peliculas en Junio que en Mayo
CAROLINE BOWMAN rento la misma cantidad de peliculas en Junio y en Mayo
KELLY TORRES rento menos peliculas en Junio que en Mayo
JAMES GANNON rento menos peliculas en Junio que en Mayo
KRISTEN CHAVEZ rento menos peliculas en Junio que en Mayo
ELMER NOE rento menos peliculas en Junio que en Mayo
KATHLEEN ADAMS rento mas peliculas en Mayo que en Junio
DARLENE ROSE rento mas peliculas en Mayo que en Junio
VICTOR BARKLEY rento menos peliculas en Junio que en Mayo
ALICIA MILLS rento mas peliculas en Mayo que en Junio
JOANNE ROBERTSON rento menos peliculas en Junio que en Mayo
LAWRENCE LAWTON rento menos peliculas en Junio que en Mayo
MILTON HOWLAND rento mas peliculas en Mayo que en Junio
CHARLES KOWALSKI rento la misma cantidad de peliculas en Junio y en Mayo
CYNTHIA YOUNG rento menos peliculas en Junio que en Mayo
ROSA REYNOLDS rento menos peliculas en Junio que en Mayo
CODY NOLEN rento menos peliculas en Junio que en Mayo
REGINA BERRY rento mas peliculas en Mayo que en Junio
CHARLENE ALVAREZ rento mas peliculas en Mayo que en Junio
YOLANDA WEAVER rento menos peliculas en Junio que en Mayo
LINDA WILLIAMS rento menos peliculas en Junio que en Mayo
MIKE WAY rento menos peliculas en Junio que en Mayo
WANDA PATTERSON rento menos peliculas en Junio que en Mayo
ELAINE STEVENS rento menos peliculas en Junio que en Mayo
JAIME NETTLES rento menos peliculas en Junio que en Mayo
CLIFFORD BOWENS rento menos peliculas en Junio que en Mayo
FELIX GAFFNEY rento menos peliculas en Junio que en Mayo
RICK MATTOX rento menos peliculas en Junio que en Mayo
DERRICK BOURQUE rento menos peliculas en Junio que en Mayo
ALLISON STANLEY rento menos peliculas en Junio que en Mayo
RUBEN GEARY rento la misma cantidad de peliculas en Junio y en Mayo
LEE HAWKS rento menos peliculas en Junio que en Mayo
CINDY FISHER rento menos peliculas en Junio que en Mayo
TIFFANY JORDAN rento mas peliculas en Mayo que en Junio
HAZEL WARREN rento menos peliculas en Junio que en Mayo
ERICA MATTHEWS rento la misma cantidad de peliculas en Junio y en Mayo
KENNETH GOODEN rento mas peliculas en Mayo que en Junio
CONNIE WALLACE rento la misma cantidad de peliculas en Junio y en Mayo
IRENE PRICE rento menos peliculas en Junio que en Mayo
MARION OCAMPO rento menos peliculas en Junio que en Mayo
AUDREY RAY rento menos peliculas en Junio que en Mayo
HOLLY FOX rento menos peliculas en Junio que en Mayo
JUDY GRAY rento la misma cantidad de peliculas en Junio y en Mayo
SAM MCDUFFIE rento mas peliculas en Mayo que en Junio
VIOLA HANSON rento menos peliculas en Junio que en Mayo
TED BREAUX rento menos peliculas en Junio que en Mayo
PHILIP CAUSEY rento menos peliculas en Junio que en Mayo
DWAYNE OLVERA rento menos peliculas en Junio que en Mayo
STEVE MACKENZIE rento menos peliculas en Junio que en Mayo
CHARLIE BESS rento menos peliculas en Junio que en Mayo
HEIDI LARSON rento menos peliculas en Junio que en Mayo
RALPH MADRIGAL rento menos peliculas en Junio que en Mayo
LEONA OBRIEN rento la misma cantidad de peliculas en Junio y en Mayo
NORMAN CURRIER rento menos peliculas en Junio que en Mayo
ANNE POWELL rento menos peliculas en Junio que en Mayo
EDITH MCDONALD rento la misma cantidad de peliculas en Junio y en Mayo
SCOTT SHELLEY rento menos peliculas en Junio que en Mayo
MATTIE HOFFMAN rento menos peliculas en Junio que en Mayo
JESSIE BANKS rento menos peliculas en Junio que en Mayo
BRANDY GRAVES rento menos peliculas en Junio que en Mayo
MORRIS MCCARTER rento menos peliculas en Junio que en Mayo
RICKY SHELBY rento la misma cantidad de peliculas en Junio y en Mayo
KEN PREWITT rento la misma cantidad de peliculas en Junio y en Mayo
JAMIE RICE rento menos peliculas en Junio que en Mayo
RENE MCALISTER rento menos peliculas en Junio que en Mayo
JESSICA HALL rento menos peliculas en Junio que en Mayo
JACKIE LYNCH rento la misma cantidad de peliculas en Junio y en Mayo
ARLENE HARVEY rento mas peliculas en Mayo que en Junio
AGNES BISHOP rento menos peliculas en Junio que en Mayo
THELMA MURRAY rento menos peliculas en Junio que en Mayo
JOAN COOPER rento menos peliculas en Junio que en Mayo
MARJORIE TUCKER rento la misma cantidad de peliculas en Junio y en Mayo
BERTHA FERGUSON rento menos peliculas en Junio que en Mayo
IAN STILL rento menos peliculas en Junio que en Mayo
PHILLIP HOLM rento menos peliculas en Junio que en Mayo
ADAM GOOCH rento mas peliculas en Mayo que en Junio
VIRGIL WOFFORD rento menos peliculas en Junio que en Mayo
DIANNE SHELTON rento menos peliculas en Junio que en Mayo
NANCY THOMAS rento menos peliculas en Junio que en Mayo
KIMBERLY LEE rento menos peliculas en Junio que en Mayo
DARREN WINDHAM rento la misma cantidad de peliculas en Junio y en Mayo
JEANETTE GREENE rento menos peliculas en Junio que en Mayo
TOMMY COLLAZO rento menos peliculas en Junio que en Mayo
ANDREW PURDY rento menos peliculas en Junio que en Mayo

 # <font color='darkcyan'># Forma 2 </font>

In [154]:
data3=data1.merge(data2, left_on='customer_id', right_on='customer_id') 
def check_rents2(df):
    df['diff'] = df['num_rentas_y'] - df['num_rentas_x']
    return df
# No logre meter en esta el texto

In [155]:
check_rents2(data3)

,customer_id,nombre_x,apellido_x,num_rentas_x,nombre_y,apellido_y,num_rentas_y,diff
0,197,SUE,PETERS,8,SUE,PETERS,8,0
1,506,LESLIE,SEWARD,7,LESLIE,SEWARD,5,-2
2,109,EDNA,WEST,7,EDNA,WEST,5,-2
3,269,CASSANDRA,WALTERS,6,CASSANDRA,WALTERS,3,-3
4,239,MINNIE,ROMERO,6,MINNIE,ROMERO,5,-1
...,...,...,...,...,...,...,...,...
507,234,CLAUDIA,FULLER,1,CLAUDIA,FULLER,8,7
508,431,JOEL,FRANCISCO,1,JOEL,FRANCISCO,7,6
509,351,JACK,FOUST,1,JACK,FOUST,3,2
510,10,DOROTHY,TAYLOR,1,DOROTHY,TAYLOR,5,4
511,136,ANITA,MORALES,1,ANITA,MORALES,1,0

 # <font color='darkcyan'># Forma 3 </font>

In [156]:
data3=data1.merge(data2, left_on='customer_id', right_on='customer_id') 
def check_rents3(df):
    condiciones = [ df['num_rentas_y'] - df['num_rentas_x']>0, data3['num_rentas_y'] - df['num_rentas_x']<0, df['num_rentas_y'] - df['num_rentas_x']==0  ]
    opciones = ['Rentaron mas en Junio','Rentaron mas en Mayo', 'Rentaron lo mismo']
    df['diff2']=np.select(condiciones,opciones)
    return df

In [157]:
check_rents3(data3)

,customer_id,nombre_x,apellido_x,num_rentas_x,nombre_y,apellido_y,num_rentas_y,diff2
0,197,SUE,PETERS,8,SUE,PETERS,8,Rentaron lo mismo
1,506,LESLIE,SEWARD,7,LESLIE,SEWARD,5,Rentaron mas en Mayo
2,109,EDNA,WEST,7,EDNA,WEST,5,Rentaron mas en Mayo
3,269,CASSANDRA,WALTERS,6,CASSANDRA,WALTERS,3,Rentaron mas en Mayo
4,239,MINNIE,ROMERO,6,MINNIE,ROMERO,5,Rentaron mas en Mayo
...,...,...,...,...,...,...,...,...
507,234,CLAUDIA,FULLER,1,CLAUDIA,FULLER,8,Rentaron mas en Junio
508,431,JOEL,FRANCISCO,1,JOEL,FRANCISCO,7,Rentaron mas en Junio
509,351,JACK,FOUST,1,JACK,FOUST,3,Rentaron mas en Junio
510,10,DOROTHY,TAYLOR,1,DOROTHY,TAYLOR,5,Rentaron mas en Junio
511,136,ANITA,MORALES,1,ANITA,MORALES,1,Rentaron lo mismo